
# Create .env from this example file and replace values for the environment.
# The application expects a separate .env.test for test environment configuration
# Get detailed information about each variable here: https://docs.tooljet.com/docs/setup/env-vars

# stack prefix
STACK_NAME=neo4j_stack

# stack versions
STACK_VERSION=0.1

# e.g., local domain
DOMAIN_NAME=localhost

# image names
FIRST_BASE_IMAGE=neo4j:4.3.3-community #4.3.3-community  latest

#########################################

NEO4J_BROWSER_PORT=7474
NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4j